@font-face {
  font-family: "Cormorant Garamond";
  src: url(../fonts/CormorantGaramond-Regular.woff2);
}
.tider {
  font-family: "Cormorant Garamond";
  list-style-type: none;
  font-size: 20px;
  font-weight: 400;
  color: rgb(74, 64, 43);
}

img {
  border-radius: 2%;
}

hr {
  color: rgb(76, 115, 78);
}

/* Grid */
@media (min-width: 780px) {
  .grid_besøg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 1em;
    align-items: center;
  }

  .højre_grid {
    margin: auto;
  }

  .venstre_grid {
    margin: auto;
    margin-top: 0.5em;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}
