img {
  max-width: 100%;
  align-items: center;
  width: 80%;
  height: auto;
}

h3 {
  font-weight: 400;
  color: rgb(74, 64, 43);
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  text-align: center;
}
/* .left-grid {
  position: relative;
  margin-left: 0%;
  margin-right: -30%;
}

.right-grid {
  position: relative;
  margin-left: 30%;
  margin-right: 0%;
} */
