img {
  max-width: 100%;
  align-items: center;
  width: 70%;
  height: auto;
}
.gimg {
  translate: 15%;
  margin-top: 70px;
  margin-bottom: 70px;
}
h3 {
  font-weight: 400;
  color: rgb(74, 64, 43);
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.fgen {
  width: 50%;
  height: auto;
  translate: 50%;
}
