img {
    max-width: 100%;
}

body {
    
}

.grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.logo {
    display: block;
    margin: 2% auto 2% auto;
    max-width: 50%;
}