body {
  background-color: #faf4ea;
}

main {
  margin-left: 10%;
  margin-right: 10%;
}
img {
  max-width: 100%;
}
/* Header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}
.imgnav {
  margin-right: 19px;
}

header a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
}
.textnav {
  margin-right: 62px;
}
.logo {
  width: 30%;
  height: auto;
}
header {
  text-align: center;
}

/* skrift typer */
@font-face {
  font-family: "Cormorant Garamond";
  src: url(../fonts/CormorantGaramond-Regular.woff2);
}

@font-face {
  font-family: "Tangerine";
  src: url(../fonts/Tangerine-Bold.woff2);
}

h1 {
  font-family: "Tangerine", cursive;
  color: rgb(76, 115, 78);
  font-size: 100px;
  font-weight: 400;
  text-align: center;
}

h2 {
  font-family: "Cormorant Garamond", sans-serif;
  color: rgb(74, 64, 43);
  font-size: 30px;
  font-weight: 400;
}

p {
  font-family: "Cormorant Garamond", sans-serif;
  color: rgb(74, 64, 43);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
a {
  font-family: "Cormorant Garamond", sans-serif;
  color: rgb(74, 64, 43);
  font-size: 30px;
  font-weight: 600;
}
